<div class="component">
  <h3>All inventory:</h3>
  <app-all-inventory></app-all-inventory>
</div>

<div class="component">
  <h3>Seach inventory:</h3>
  <app-search-products></app-search-products>
</div>

<div class="component">
  <h3>Get product:</h3>
  <app-get-product></app-get-product>
</div>

<div class="component">
  <h3>Create product:</h3>
  <app-create-product></app-create-product>
</div>

<div class="component">
  <h3>Update A Product</h3>
  <app-update-product></app-update-product>
</div>

<div class="component">
  <h3>Delete product:</h3>
  <app-delete-inventory></app-delete-inventory>
</div>


