<div id="landing-large" class="flex flex-center flex-column bg-black">
  <img src="../../../assets/Logo.png" alt="Logo" id="landing-logo" />
  <h1 class="weight-regular">Falkoner</h1>
</div>

<div id="landing-small" class="flex flex-column flex-center">
  <p class="text-center bold">
    Welcome to Falkoner, created by team Big-D for SWEN-261. This is an example
    website that in theory would allow the public to help donate to a falcon
    preserve.
  </p>
  <p class="mv-50 text-center bold">Created By:</p>
  <p class="mv-50 text-center bold">Ryan Current</p>
  <p class="mv-50 text-center bold">Christopher Hamm</p>
  <p class="mv-50 text-center bold">Andrew Leon</p>
  <p class="mv-50 text-center bold">Michael Ververs</p>
  <p class="mv-50 text-center bold">Colin Tondreau</p>

  <app-button class="mv-50" routerLink="/home" title="Lets Go"></app-button>
</div>
