/* .heading {
    text-align: center;
    margin: 2em 0em;
  }
  
  .image-cont {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: grey;
    border-radius: 1em;
    transition: transform 0.1s ease-in-out;
  }
  
  .image-cont:hover {
    transform: translateY(-10px);
  }
  
  .image-cont input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
  }
  
  .image-cont img {
     width: "100%"; 
     height: "100%"; 
    flex: 1;
    object-fit: cover;
    background-color: red;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    background-color: blue;
    object-fit: contain;
  }
  
  .button {
    padding: 1em 2em;
    background-color: var(--color-primary);
    color: var(--background-color-primary);
    border-width: 2px;
    border-color: var(--color-secondary);
    border-style: solid;
    border-radius: 0.75em;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--color-secondary);
    color: var(--background-color-primary);
    border-color: var(--color-primary);
  }

  .container {
    max-width: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    position: relative;
  }
   */

.image-input-cont {
  width: 600px;
  height: 500px;
  border-radius: 25px;
}

.image-input-cont img {
  width: 600px;
  height: 500px;
  border-radius: 25px;
  object-fit: cover;
}

.image-input-cont input {
  z-index: 5;
  background-color: green;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.image-input-cont i {
  font-size: 50px;
  color: var(--white);
}

.image-input-cont:hover i {
  color: var(--red);
}

.small-image-cont {
  margin: 30px 0px 0px;
  padding: 80px 50px;
}

.small-image-cont img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 25px;
}

.small-image-cont .hoverable {
  transition: transform 250ms ease-in;
}

.small-image-cont .hoverable:hover {
  transform: translateY(-10px) scale(1.3);
}

.delete-img {
  opacity: 0;
}

.delete-img i {
  font-size: 25px;
}

.small-image-cont .hoverable:hover .delete-img {
  opacity: 1;
}
