.header {
  padding: 1em 0em;
  margin-bottom: 2em;
}

.header h1 {
  align-self: center;
  margin-bottom: 0.5em;
}

.nav-links {
  align-items: center;
  justify-content: space-evenly;
}

.nav-links p {
  cursor: pointer;
  transition: transform 200 ease-in;
}

.nav-links p:hover {
  transform: translateY(-5px);
  color: #bfdbf7;
}
