/* .main-container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0em 7.5em;
  z-index: 1;
}

.image-container {
  margin: 2.5em 0em 0em;
  position: relative;
}

.image-btns {
  position: absolute;
  top: 0;
  left: -60px;
  right: -60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: var(--color-secondary);
}

.key-notes {
  color: var(--color-primary);
}

.hidden-btn {
  opacity: 0;
}

.image-container img {
  width: 750px;
  height: 500px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

.triangle {
  width: 0px;
  height: 0px;

  margin: 0em 0.5em;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid var(--color-secondary);
  cursor: pointer;
  transition: 250ms ease-in;
  transition-property: border;
  z-index: 5;
}

.triangle:hover {
  transform: scale(2);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 35px solid var(--color-primary);
}

.triangle.left {
  transform: rotate(90deg);
}

.triangle.right {
  transform: rotate(-90deg);
}

.back-btn {
  position: fixed;
  top: 10em;
  left: 2em;
  z-index: 10;
}

.green {
  color: var(--color-success);
}

.yellow-green {
  color: #8dd626;
}

.yellow {
  color: var(--color-warning);
}

.red {
  color: var(--color-failure);
}

.status-cont {
  margin: 3em 0em;
  color: var(--color-secondary);
  align-items: center;
  justify-content: space-between;
} */

.report-images img {
  width: 600px;
  height: 500px;
  border-radius: 25px;
  object-fit: cover;
}

.small-images img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  object-fit: cover;
  transition: transform 250ms ease-in;
}

.small-images img:hover {
  transform: translateY(-10px);
}

.small-images .active {
  border: 2px solid var(--red);
}
