/* .product-card {
    margin: 2.5em;
    padding: 0.5em;
    background-color: var(--background-color-secondary);
    border-radius: 0.5em;
    overflow: hidden;
    max-width: 325px;
    box-shadow: 0.15em 0.15em 50px 1px var(--color-secondary);
  }
  
  .clickable:hover {
    transform: translateY(-5px);
  }
  
  .clickable {
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
  }
  
  .product-card .img-cont {
    max-width: 300px;
    max-height: 250px;
    background-color: var(--color-tertiary);
  }
  
  .product-card .img-cont img {
    max-width: 300px;
    max-height: 250px;
    border-radius: 0.45em;
    object-fit: cover;
  }
  
  .product-card .product-content {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    color: var(--color-primary);
  }
  
  .product-card .product-content h1 {
    margin-right: 0.5em;
    color: var(--color-success);
  }

  .quantity-content{
    display: flex;
  }

  .remove-item{
    justify-content: flex-end;
    margin: 2.5em;
  }

  .quantity-adjustment{
    margin: 2.5em;
  }

  .button {
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: var(--background-color-primary);
    border-width: 2px;
    border-color: var(--color-secondary);
    border-style: solid;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  .quant {
    margin: 2em 0.25em;
  } */

.order-content img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  object-fit: cover;
}

.order-content i {
  font-size: 25px;
  color: var(--light-gray);
  transition: transform 250ms ease-in;
}

.order-content i:hover {
  color: var(--red);
  transform: scale(1.2);
}

.cross {
  font-size: 50px;
  color: var(--light-gray);
  transition: transform 250ms ease-in;
}

.cross:hover {
  color: var(--red);
  transform: scale(1.2);
}
