/* .main-container {
  padding: 0em 7.5em;
  padding-bottom: 10em;
}

.main-img {
  margin: 2.5em 0em 0em;
}

.main-img img {
  width: 750px;
  height: 500px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

h2,
h1,
h3 {
  color: var(--color-secondary);
}

p {
  color: var(--color-primary);
}

.timeline-cont {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.timeline-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 23px;
  width: 100%;
  height: 5px;
  background-color: var(--background-color-tertiary);
  z-index: 0;
}

.key-notes {
  color: var(--color-primary);
}

.sponsor-container {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
}

.sponsor {
  margin: 0em 1em;
  padding: 2em;
  border-radius: 30px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

.floating {
  position: fixed;
  right: 2em;
  bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: all;
  overflow-y: hidden;
}

.modal {
  position: relative;
  padding: 2em 2em 0em;
  background-color: var(--background-color-primary);
  border-radius: 30px;
}

.cross-container {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.cross {
  position: relative;
  height: 25px; /* this can be anything 
  width: 25px; /* ...but maintain 1:1 aspect ratio 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cross::before,
.cross::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px; /* cross thickness 
  background-color: var(--color-primary);
}

.cross-container:hover .cross::before,
.cross-container:hover .cross::after {
  background-color: var(--color-failure);
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}
/* 
.modal-btns {
} 

.modal-btn {
  padding: 2em;
  cursor: pointer;
  color: var(--color-primary);
  transition: 0.15s ease-in;
  transition-property: transform color;
}

.modal-btn:hover {
  transform: translateY(-10px);
  color: var(--color-secondary);
}

#hr-title {
  margin-bottom: 2em;
}

.out-of-stock {
  color: var(--color-failure);
} */

#back-btn {
  position: fixed;
  top: 160px;
  left: 80px;
}

#heart-icon {
  font-size: 35px;
  color: var(--white);
  margin-left: 35px;
}

.cart-btn {
  bottom: 80px;
  right: 80px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-color {
  background-color: var(--black);
  opacity: 0.75;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}

.modal-card {
  background-color: var(--dark-gray);
  width: 600px;
  height: 500px;
  border-radius: 50px;
}

.modal-btn {
  transition: transform 50ms ease-in;
}

.modal-btn:hover {
  transform: translateY(-5px);
  color: var(--red);
}
