<div class="app-delete-inventory mv-15">
  <input class="input" #productId id="productId" placeholder="Product Id" />
  <!-- <input type="text" [(ng-model)]="searchTerm" /> -->
  <button class="button" (click)="getProduct(productId.value)">Find</button>
</div>

<div *ngIf="product" class="flex flex-column mv-15">
  <div class="flex row-center-left input-container">
    <label for="productPrice">Price: </label>
    <input
      placeholder="Price"
      class="input"
      type="text"
      [(ngModel)]="product.price"
      id="price"
    />
  </div>

  <div class="flex row-center-left input-container">
    <label for="productPrice">Name: </label>
    <input
      placeholder="Name"
      class="input"
      type="text"
      [(ngModel)]="product.name"
      ids="name"
    />
  </div>

  <div class="flex row-center-left input-container">
    <label for="productPrice">Description: </label>
    <input
      class="input"
      placeholder="Description"
      type="text"
      [(ngModel)]="product.description"
      id="desc"
    />
  </div>
</div>

<button class="button" type="button" (click)="save()">Update Product</button>
