<div
  [ngClass]="{
    pointer: clickable,
    'hover-shadow': clickable
  }"
  class="flex product-card product-container flex-column"
  (click)="cardClicked()"
>
  <div class="max-width relative max-height product-card p-50 inner-shadow">
    <img src="{{ product.fileName }}" alt="{{ product.name }}" />
    <div class="flex flex-column flex-center">
      <h1 class="mv-30 weight-regular">{{ product.name }}</h1>
      <h1 class="color-red weight-regular">${{ product.price.toFixed(2) }}</h1>
    </div>
    <div class="delete-btn flex flex-center">
      <app-button
        *ngIf="deleteBtn"
        (click)="deleteButtonClicked()"
        class="pointer flex flex-center"
      >
        <i class="fa-solid fa-xmark"></i>
      </app-button>
    </div>
  </div>
</div>
