.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-color {
  background-color: var(--black);
  opacity: 0.75;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}

.modal-card {
  background-color: var(--dark-gray);
  width: 600px;
  height: 500px;
  border-radius: 50px;
}
